/* src/components/Carousel.css */
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.carousel-image {
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-info {
  width: 50%;
  padding: 20px;
}

.carousel-info h1 {
  margin-bottom: 35px;
text-align: center;
  text-decoration: underline; /* Underline the text */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-info p {
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.prev-button {
  /* Add your styles for the Previous button here */
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.prev-button:hover {
  box-shadow: 0 0 20px black; /* Add this line */
}

.next-button {
  /* Add your styles for the Next button here */
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.next-button:hover {
  box-shadow: 0 0 20px black
}

.carousel-info ul {
  list-style-type: square; /* Change the bullet point style */
  padding-left: 15px; /* Add some space before the bullet points */
}

.info-label {
  font-weight: bold;
  text-decoration: underline;
}

.high-hostility {
  color: black;
  background-color: rgba(255, 0, 0, 0.5);
}
